/* FontS
==============================*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600;900&display=swap');

body {
    direction: rtl;
    text-align: right;
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    letter-spacing: 0;
}
.owl-carousel .owl-stage-outer{
	direction: ltr;
}
.owl-carousel .owl-nav button.owl-next{
	
left: 0;
	
right: auto;
}
.owl-carousel .owl-nav button.owl-prev{
    
left: auto;
    
right: 0;
}
.section_hint{
    font-size: 84px;
}
.custom-btn {
    letter-spacing: 0px;
    font-size: 12px;
}
.custom-btn i{
	transform: rotate(180deg);
	left: auto;
	right: -100%;
}
.custom-btn:hover i{
	left:auto;
    right: 0;
}
.main_heading{
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 0px;
}
.head_title{
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 0px;
}
.about-content .text ,.text{
    font-size: 16px;
}
.section-title p.text{
	font-size: 13px;
}
.about-content .text{
	margin: 15px auto;
	max-width: 520px;
}
.section-title .main_heading{
    font-size: 23px;
    margin-bottom: 16px;
}
.list{
    text-align: right;
}
.list li{
    letter-spacing: 0px;
    padding-left: auto;
    padding-right: 20px;
}
.list li:before{
    left: auto;
    right: 0;
}
.form-title{
	text-align: right;
	letter-spacing: 0px;
	font-size: 16px;
}
.form-title a{
	float: left;
}
label{
    font-size: 15px;
    letter-spacing: 0px;
    text-align: right;
}
.form-control {
    font-size: 14px;
    letter-spacing: 0px;
}
.play_btn{
    left: auto;
    right: 15px;
}
.page-head .main_heading{
    letter-spacing: 0px;
    font-size: 28px;
}
.page-head .head_title{
    letter-spacing: 0px;
}
.page-head .text{
    letter-spacing: 0px;
}
.breadcrumb {
	letter-spacing: 0px;
}
.breadcrumb a i{
	margin-right: 0;
    margin-left: 5px;
}
header .navbar-brand{
	left: auto;
    right: 0;
}
header .menu-btn{
    font-size: 12px;
}
.header_btns{
    right: auto;
    left: 0;
}
header .header_btns a{
	padding: 0 0 0 15px;
	font-size: 11px;
	letter-spacing: 0px;
}
header .header_btns a i{
    font-size: 16px;
}
header .navbar ul.navbar-nav li a {
	font-size: 14px;
	letter-spacing: 0px;
}
.main_section .main_heading{
    font-size: 56px;
    letter-spacing: 0;
}
.main_section .main_heading span{
}
.main_section .head_title{
    font-size: 28px;
    letter-spacing: 0;
}
.main_section .text{
    letter-spacing: 0;
    font-size: 20px;
    max-width: 767px;
}
.social{
    left: auto;
    right: 15px;
    text-align: right;
}
.social li a span{
    border-radius:  25px 0 0 25px;
    padding: 0 5px 0 15px;
}
.about-img .video-mask h3{
    letter-spacing: 0px;
}
.about-content .head_title{
    font-size: 24px;
    letter-spacing: 0px;
}
.nav-pills .nav-link{
    font-size: 13px;
    letter-spacing: 0px;
}
.tabs li a i{
    float: right;
}
.tab-pane{
    letter-spacing: 0px;
}
.tab-pane i{
	left: auto;
    right: 0;
}
.tab-pane i:last-child{
	right: auto;
	left: 0;
}
.filter_form .form-group{
    border-right: 0;
    border-left: 1px solid #caad55;
}
.filter_form button i{
    margin-right: 0;
    margin-left: 5px;
}
.main-project .content{
    text-align: right;
}
.content .head-title{
    letter-spacing: 0px;
}
.content ul li ,
.proj-item .proj-cont ul li{
    letter-spacing: 0px;
    padding: 10px 70px 10px 15px;
}
.proj-item .proj-cont ul li i{
    margin-right: 0;
    margin-left: 5px;
    left: auto;
    right: 0;
} 
.proj-item .proj-cont ul li i{
	margin: auto;
}
.content ul li i {
	left: auto;
	right: 15px;
}

.proj-item .proj-cont a{
	letter-spacing: 0px;
}
.proj-item .proj-cont ul li:last-child{
	border-right: 1px solid #ddebf2;
    border-left: 0;
}
.proj-item .proj-cont ul li{
	padding: 10px 0;
}
.feature{
    letter-spacing: 0;
}
.payment{
	letter-spacing: 0px;
}
.inner_proj .sec-tit{
    letter-spacing: 0px;
}
.team_cont h3{
	letter-spacing: 0;
	font-size: 14px;
	font-weight: 900;
}
.team_cont p{
	font-size: 14px;
	letter-spacing: 0;
}
.contact_map{
    left: auto;
    right: 10%;
    height: 500px;
}
.contact_map ul li{
    padding: 20px 70px 20px 20px;
}
.contact_map ul li i{
    left: auto;
    right: 15px;
}
.contact_map ul li div{
    text-align: right;
    letter-spacing: 0;
    font-size: 12px;
}
.contact_map ul span{
    letter-spacing: 0px;
}
.contact_form .form-group .form-control{
    padding-left: 0;
    padding-right: 50px;
}
.contact_form .form-group i{
    left: auto;
    right: 0;
    border-right: 0;
    border-left: 2px solid #fff;
}
.contact_form .social{
    left: 0;
    right: auto;
}
footer h3{
    letter-spacing: 0px;
    padding: 5px 40px 5px 0;
}
footer h3 i{
    margin-left: 5px;
    margin-right: 0;
    left: auto;
    right: 0;
}
footer p{
    margin: 15px 0 15px auto;
    letter-spacing: 0px;
}
footer ul li a{
	letter-spacing: 0px;
	text-align: right;
    padding-right: 20px;
	padding-left: 0;
}
footer ul li a:before{
	left: auto;
    right: 0;
}
.newsletters{
    text-align: right;
}
.newsletters label{
    letter-spacing: 0px;
}
.testimonial .text ,
.copyrights{
    letter-spacing: 0px;
}
.testimonial .user span:last-child ,
.testimonial .user span{
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0 !important
}

@media all and (max-width: 1399px){
    .owl-carousel .owl-nav button.owl-next{
		right: 0;
        left: auto;
	}
	.owl-carousel .owl-nav button.owl-prev{
		left: 0;
        right: auto;
	}
}
@media all and (max-width: 1200px){
	.main_section .col{
        padding-right: 50PX;
		padding-left: 0;
	}
	.main_section .main_heading{
		letter-spacing: 0;
	}
}
@media all and (max-width:991px){
    header .header_btns{
        margin-left: 15PX;
        margin-right: 0;         	
    }
    header .navbar-brand{
        margin-right: 15px;
    	margin-left: 0;
    }
    header .navbar ul.navbar-nav{
    	text-align: right;
    }
    header .navbar ul.navbar-nav li a, header.move .navbar ul.navbar-nav li a{
    	text-align: right;
    }
    [data-aos^=fade][data-aos^=fade] , [data-aos^=zoom][data-aos^=zoom] {
        opacity: 1;
        transform: none;
    }
}
@media (max-width: 767px){
	.contact_map{
		left: auto;
        right: 0;
	}
	.contact_map ul li{
		padding: 10px 70px 10px 10px;
	}
}
@media all and (max-width: 576px){
	.main_section .main_heading{
		letter-spacing: 0px;
	}
	.main_section .head_title{
		letter-spacing: 0px;
	}
	.social{
        right: 0;
		left: auto;
	}
}